* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #898989;
  color: #fff;
  padding: 10px;
  text-align: justify;
}
body {
  display: flex;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.box__menu {
  height: 100vh;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  position: fixed;
}
main {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  padding: 5%;
  left:20%;
}
.box__top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 15%;
  margin-bottom:5%;
}
.top__middle {
  display: flex;
  flex-basis: 30%;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 15%;
  margin-bottom:5%;
}
.container {
  display: flex;
  align-self: flex-end;
  width: 100%;
  min-height: 60%;
  height: 100%;
  margin-bottom:5%;
  .box__left {
    flex-basis: 15%;
    margin-right: 5%;
    align-self: stretch;
    height: 100%;
  }
  .box__right {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 80%;
    justify-content: space-between;
    height: 100%;
    .box__middle {
      flex-basis: 45%;
      width: 50%;
      min-height: 45%;
      margin-bottom:5%;
    }
    .box__bottom {
      width: 100%;
      min-height: 45%;
      align-self: flex-end;
      
    }
  }
}
